<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://kit.fontawesome.com/ffecb0da80.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <title>View Product</title>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.3.0/uicons-solid-straight/css/uicons-solid-straight.css'>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <a href="../home/home.html">
                <img src="../home/icon/logo.png" alt="">
            </a>

        </div>
        <div class="search">
            
          </div>
        <div class="kanan">
            <a href="../cart/cart.html" class="cart-link">
                <div class="keranjang">
                    <i class="fi fi-sr-basket-shopping-simple"></i>
                </div>
                </a>
            <a href="../useracc/madeline/hal1.html" class="user-link">
            <div class="user">
                <i class="fi fi-ss-user"></i>
            </div>
            </a>
        </div>
    </div>

    <div class="info">
        <button class="back-button" onclick="window.history.back()">
            <span class="material-symbols-outlined back-icon" class="back-icon">
                arrow_back_ios
                </span>
            <p class="back-text">Back</p>
        </button>
        
        <div class="container">
            <div class="product-div">
                <div class="product-div-left">
                    <div class="img-container">
                        <img src="assets/bajuMale1.webp" alt="bajuMale1">
                    </div>
                    <div class="click-container">
                        <div>
                            <img src="assets/bajuMale1.webp">
                        </div>
                        <div>
                            <img src="assets/bajuMale2.webp">
                        </div>
                        <div>   
                            <img src="assets/bajuMale3.webp">
                        </div>
                    </div>
                </div>
    
                <div class="product-div-right">
                    <span class="product-name">Muara - Male Open Short Sleeve Shirt</span>
    
                    <div class="extra-info">
                        <p class="sold-this-month"><span id="green-text">2K+&nbsp;</span>this month</p>
                        <p class="seperator1">|&nbsp;</p>
                        <div class="product-rating">
                            <button>
                                <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i></span>
                                <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i></span>
                                <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i></span>
                                <span><i class="fa-solid fa-star" style="color: #FFD43B;"></i></span>
                                <span><i class="fas fa-star-half-alt" style="color: #FFD43B;"></i></span>
                                <span>| 4.5</span>

                            </button>
                        </div>
                    </div>
    
                    <span class="product-price">Rp399.900</span>
                    <img class="seperator-long" src="assets/SeperatorLong.png" alt="seperator-long">
    
                    <div class="buttons-options">
                        <div class="size">
                            <span>Size:</span>
                            <div class="size-buttons">
                                <button class="small">S</button>
                                <button class="medium">M</button>
                                <button class="large">L</button>
                                <button class="exLarge">XL</button>
                            </div>
                        </div>

                        <div class="color">
                            <span>Color:</span>
                            <button class="navy">&nbsp;&nbsp;&nbsp;</button>
                        </div> 
                    </div>

                    <div class="buttons-options-2">
                        <div class="stock">
                            <div class="quantity-container"> 
                                <button class="minus-sign">-</button>
                                <span class="amount">1</span>
                                <button class="plus-sign">+</button>
                            </div>
                            <span class="stock-txt">Stock: 10</span>
                        </div>

                        <div class="contact">
                            <a class="waNotif" href="https://www.whatsapp.com/">
                                <img class= "wa-img" src="assets/notifwa.png" alt="wa-img"><p>Contact Us!</p>
                            </a>
                        </div>

                    </div>
                    
                    <div class="main-button">
                        <div class="add-to-cart">
                            <a class="link-add-to-cart" href="../cart/cart.html">
                                <button>Add to Cart</button>
                            </a>
                        </div>
                        <div class="check-out">
                            <a class="link-check-out" href="../checkout_page/Checkout Page/checkout webpage.html">
                                <button>Check Out</button>
                            </a>
                        </div>
                    </div>
                    

                    <div class="info-options">
                        <p class="overview">Overview</p>
                        <p class="material">Material</p>
                        <p class="careguide">Care Guide</p>
                    </div>
                    <p class ="border"> </p>
                    
                    <div class="information">
                        <!-- information will be here -->
                    </div> 
                </div>

                <div class="product-div-bottom">
                    <div class="txt-similar-items">
                        <p class="similar-items">Other Similar Items</p>
                        <p class ="border2"> </p>
                    </div>

                    <div class="product-recommendations">
                        <img src="assets/foto1.webp" alt="foto1">
                        <img src="assets/foto2.webp" alt="foto2">
                        <img src="assets/foto3.webp" alt="foto3">
                        <img src="assets/foto4.webp" alt="foto4">
                        <img src="assets/foto5.webp" alt="foto5">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="reviewvios">
        <header>
            <h1>Review</h1>
            <hr>
            <h1 class="rating">4.0</h1>
            <img src="5_Star_Rating_Condensed-removebg-preview.png" alt="" class="star">
            <h1 class="text2">3 Reviews</h1>
        </header>
    
        <div class="box">
            <p class="date">5 days ago</p> <!-- Add the new paragraph element -->
            <img src="Pfp1.jpeg" alt="" class="pfp">
            <div class="ProfileInfo">
                <div class="profile-header">
                    <h2>ANTHONY</h2>
                    <img src="5_Star_Rating_Condensed-removebg-preview.png" alt="" class="star-rating">
                </div>
                <h5>KEDIRI, INDONESIA</h5>
                <p>This store is very great.</p>
                <p>I will buy here everyday.</p>
            </div>
        </div>
        
    
        <div class="box">
            <p class="date">2 weeks ago</p> <!-- Add the new paragraph element -->
            <img src="Pfp2.jpeg" alt="" class="pfp">
            <div class="ProfileInfo">
                <div class="profile-header">
                    <h2>CENTAUR</h2>
                    <img src="5_Star_Rating_Condensed-removebg-preview.png" alt="" class="star-rating">
                </div>
                <h5>JAKARTA, INDONESIA</h5>
                <p>The quality and material of the shirt is very good.</p>
                <p>Convenient to use when go to work even from morning</p>
                <p> to evening. I highly recommend this item :)</p>
            </div>
        </div>
    
        <div class="box">
            <p class="date">5 weeks ago</p> <!-- Add the new paragraph element -->
            <img src="Pfp3.jpeg" alt="" class="pfp">
            <div class="ProfileInfo">
                <div class="profile-header">
                    <h2>ROBIN</h2>
                    <img src="5_Star_Rating_Condensed-removebg-preview.png" alt="" class="star-rating">
                </div>
                <h5>JAKARTA, INDONESIA</h5>
                <p>The design is very unique and elegant, and the quality is very</p>
                <p>good. I bought this product for a wedding and was very</p>
                <p>satisfied with the result. This batik is very comfortable to</p>
                <p>wear and does not wrinkle easily.</p>
            </div>
        </div>
    
        <a href="../FullReview/HCIaol2/FullReview.html" class="more-reviews-btn"><< See more reviews >></a>
        
        <img src="end part.png" alt="" class="end-part">
    </div>

    <script src="script.js"></script>
</body>
</html>
